:root {
  --white: #ffffff;
  --tundora: #4e4e4e;
  --grey: #c4c4c4;
  --orange: #e07a64;
  --navygrey: #f1f1f1;
}
html {
  scroll-behavior: smooth;
}
.body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.nav {
  background-color: var(--tundora);
  height: 50px;
  display: flex;
  align-items: center;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 14px;
  margin-right: 14px;
}
.my {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}
.list {
  display: none;
}

.header {
  margin: 0 auto;
  position: relative;
  color: transparent;
  background-image: url(background2.png);
  background-size: cover;
  height: calc(100vh - 50px);
}

.headerContainer {
  margin-left: 14px;
  margin-right: 14px;
  position: relative;
  z-index: 20;
  color: var(--white);
  font-weight: 700;
}

.bigHeaderText {
  width: 65%;
  font-size: 36px;
  display: inline-block;
  margin-top: 30vh;
}

.smallHeaderText {
  font-size: 18px;
  margin-top: 62px;
  margin-bottom: 42px;
}

.btnOfert {
  border: 3px solid white;
  width: 164px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: var(--white);
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: background-color 1s ease, color 1s ease;
}

.specialists {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 34px;
  margin-bottom: 68px;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin: 0 auto;
}

.specialist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-left: 14px;
  margin-right: 14px;
}

.fotoOne {
  width: 221px;
  height: 221px;
  border-radius: 50%;
  background-image: url(osoba1.jpg);
  background-size: cover;
}

.name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
}

.specialist:nth-of-type(odd) .description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 20px;
  text-align: justify;
}

.order:nth-last-of-type(odd) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.specialist:nth-last-of-type(even) {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 54px;
  margin-left: 14px;
  margin-right: 14px;
  flex-direction: column;
  align-items: center;
}

.fotoTwo {
  order: -1;
  width: 221px;
  height: 221px;
  border-radius: 50%;
  background-image: url(osoba2.png);
  background-size: cover;
}

.order:nth-last-of-type(even) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.specialist:nth-of-type(even) .description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 20px;
  text-align: justify;
}
.offer {
  background-color: #405d78;
  position: relative;
  width: 100%;
}

.containerOffer {
  padding-top: 51px;
  padding-bottom: 68px;
  margin-left: 14px;
  margin-right: 14px;
}

.headerServices {
  font-weight: 700;
  color: var(--white);
  font-size: 26px;
  text-align: center;
}

.containerServices {
  display: flex;
  flex-wrap: wrap;
  gap: 63px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 81.67px;
  flex-direction: column;
}

.service {
  width: 300px;
  height: 300px;
  border: none;
  background-color: var(--navygrey);
  font-size: 24px;
  font-weight: 400;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.novelty {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
}

.dot {
  background-color: var(--orange);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  z-index: 10;
  position: absolute;
  left: -11px;
  top: -11px;
}

.footer {
  background-color: var(--tundora);
  margin: auto;
  display: flex;
  height: 147px;
  align-items: center;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 960px;
  margin: 0 auto;
  flex-direction: column;
  margin-left: 14px;
  margin-right: 14px;
  text-align: center;
}

.footerText {
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}

.instface {
  color: var(--white);
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  align-content: center;
  height: 31px;
  margin: 0 auto;
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }

  .list {
    list-style-type: none;
    display: flex;
    gap: 46px;
  }

  .item {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    cursor: not-allowed;
  }

  a:link,
  a:visited,
  .disabled {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
  }

  .disabled {
    cursor: not-allowed;
  }

  .btnOfert:hover {
    background-color: var(--white);
    color: var(--tundora);
  }

  .specialists {
    gap: 40px;
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .heading {
    text-align: left;
    margin: initial;
  }

  .order:nth-last-of-type(odd) {
    width: 70%;
  }

  .specialist:nth-last-of-type(odd) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    gap: 40px;
  }

  .fotoOne {
    height: 190px;
    width: 190px;
  }

  .specialist:nth-of-type(odd) .description {
    text-align: left;
  }

  .specialist:nth-last-of-type(even) {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    gap: 40px;
  }

  .fotoTwo {
    height: 190px;
    width: 190px;
    order: 0;
  }

  .order:nth-last-of-type(even) {
    width: 70%;
    justify-content: flex-end;
  }

  .specialist:nth-of-type(even) .description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
  }

  .headerServices {
    font-size: 36px;
    text-align: start;
  }

  .containerServices {
    flex-direction: row;
  }

  .service:hover {
    transform: scale(1.05);
  }

  .footer {
    height: 71px;
  }

  .footerContainer {
    flex-direction: row;
  }

  .instface {
    height: 0px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 960px;
  }

  .specialist:nth-last-of-type(odd) {
    gap: 60px;
  }

  .description:nth-last-of-type(odd) {
    text-align: left;
  }

  .fotoOne {
    height: 221px;
    width: 221px;
  }

  .specialist:nth-last-of-type(even) {
    gap: 60px;
    margin-top: 0px;
  }

  .fotoTwo {
    order: 0;
    height: 221px;
    width: 221px;
  }

  .service {
    width: 198px;
    height: 193.78px;
  }
}
